form {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 35px;
    width: 90%;
}

input {
    border: 1.5px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
}

textarea {
    border: 1.5px solid #ccc;
    border-radius: 4px;
    height: 150px;
    width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #555557;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 8px 0;
    padding: 1em 2em;
    width: 100%;
}

button:focus, button:hover {
    background-color: #e00000;
}

#reset {
    opacity: 0.75;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    form {
        width: 70%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    form {
        width: 50%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    form {
        width: 40%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    form {
        width: 40%
    }
}