/* Mobile First View */
#row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    vertical-align: middle;
}

.column {
    margin-top: 0;
    max-width: 100%;
    vertical-align: middle;
    padding: 0;
}

.column img {
    padding-bottom: 10px;
    width: 100%;
}

/* 2 x 8 Grid */
/* Medium Devices (Landscape Tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .column {
        max-width: 50%;
        padding: 10px 10px;
    }

    #row {
        padding: 0 10px;
    }
}

/* 4 x 4 Grid */
/* Extra Large Devices (Large Laptops and Desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
    .column {
        max-width: 25%;
    }
}